
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* ---------Shared stles----- */
*{
    margin: 0;
}
 .dark-2{
    color: #474747;
 }
 .bg-secondery{
    background-color: #FFF8F3;
 }
 .btn-primary{
    background-color: #FD6E0A;
    font-size: 18px;
    font-weight: bold;
    color: #ffff;
    border-radius: 5px;
    border: none;
    padding: 14px 28px;
    cursor: pointer;
 }
 /* ---------Start Header section ----------*/
 .header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right ;
   
 }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 41px 150px;
}
.nav-title{
    font-size: 36px;
    font-weight: 800;
    line-height: 49px;
}
nav .title-col{
    color: red;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    margin-right: 41px;
}
/*---- About section start---- */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 160px;
}
.banner .banner-content{
    max-width: 468px;
}
.banner-content .banner-greetings{
    font-size: 36px;
    font-weight:600;
    margin-bottom: 10px;
}
.banner-content .banner-title{
    font-size: 68px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.banner-content .banner-description{
    font-size: 14px;
    font-weight: normal;
    color: #757575;
    margin-bottom: 30px;
}
.banner-img{
    width: 584px;
}
/*------- About section start------- */
main{
    max-width: 912px;
    margin: 0 auto;
}
.about{
    padding: 130px 110px;
    text-align: center;
    margin: 80px 0;
}
.section-title, .section-description{
    text-align: center;
}
.about-items{
    display: flex;
   justify-content: space-around;
    /* gap: 20px; */
}
.about .section-title{
    color: #181818;
    font-size: 30px;
    font-weight: bold;
}
.about .section-description{
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    margin: 30px 0;
}
.about-items{

}
.item-title{
    color: #757575;
    font-size: 14px;
    font-weight: normal;
}
.item-description{
    color: #757575;
    font-size: 16px;
    font-weight: bolder;
}
/*------- Skill section start------------- */
.skill-items{
    margin: 80px 0;
}
.skill-items .section-title{
    color: #181818;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.skill-items .section-description{
    color: #757575;
    font-size: 16px;
    font-weight: normal;
    margin: 0 80px;
}

.skill-title{
    color: #181818;
    font-size: 18px;
    font-weight: bold;
}
.skill-description{
    color: #757575;
    font-size: 15px;
    font-weight: normal;
}
.skill-content{
    display: flex;
    gap: 25px;
}
.skill-content .skill-items{
    box-shadow: 5px 5px 5px #e4e4e4;
    border-radius: 5px;
    padding: 25px;
}
/*------ Resume section start------------  */
.resume > .section-title{
    font-size: 35px;
    font-weight: bold;
}
.resume-cotainer{
    display: flex;
    gap: 24px;
    margin-top: 80px;
}
.experience-titile{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.experience-subtitle{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}
.experience-description{
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
}
.text-centre{
    text-align: center;
    margin: 30px 0;
}
/* Footer section start  */
footer{
    padding: 100px 200px;
    display: flex;
    gap: 100px;
}
footer .section-title, .sectoin-description{
    margin-bottom: 20px;
    text-align: justify;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    display: block;
    height: 50px;
    background-color: #fff;
    color: #757575;
    width: 100%;
    padding-left: 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
#text{
    height: 120px;
    padding: 10px 30px;
}
